
.imagenHeaderContact{
    min-height: 5vh;
    background-image: linear-gradient(
    to bottom,
    rgba(26, 54, 137, 0.73),
    rgba(5, 47, 162, 0.649)
  ),url("../../../assets/presentation.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 5rem 3rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textosContact {
    text-align: center;
}
.h1Contact {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    font-family: "Poppins", "sans-serif";
}
.h3Contact {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    font-family: "Open Sans", "sans-serif";
}

@media (min-width: 768px){
    .imagenHeaderContact{
        min-height: 5vh;
        padding: 2rem 5rem 3rem 5rem;
    }
    .h1Contact {
        font-size: 3.5rem;
    }
}
@media (min-width: 1024px) {
    .imagenHeaderContact{
        min-height: 30vh;
        padding: 5rem 10rem 3rem 10rem;
    }
}
@media (min-width: 1280px) {
    .imagenHeaderContact{
        min-height: 30vh;
        padding: 5rem 20rem 3rem 20rem;
    }
}