.botonSidebar{
    position: fixed;
    bottom: 0.5rem;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: var(--h3-presentation);
    padding: 0.5rem;
    color: #fff;
    border: none;
    border-radius: 100%;
    font-size: 1.5rem;
    line-height: 1rem;
}
@media (min-width: 768px){
    .botonSidebar{
        margin-right: 2rem;
    }
}
@media (min-width: 1024px){
    .botonSidebar{
        display: none;
    }
}
