.contenedor {
    min-height: 100vh;
    background-color: #555;
    background-image: linear-gradient(
    to bottom,
    rgba(26, 54, 137, 0.73),
    rgba(5, 47, 162, 0.649)
  ),url("../../../assets/presentation2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.titulos {
    color: #fff;
    padding: 12rem 8rem 4rem 8rem;
    display: inline-block;
}
.titulos h1 {
    font-size: 6rem;
    line-height: 2rem;
    padding: 0;
    margin: 0;
    font-family: "Chakra Petch";
}
.titulos h3 {
    font-size: 1.74rem;
    margin: 0;
    padding: 0 0 0 1.7rem;
    font-family: "Chakra Petch";
    color: #cf336e;
}

.dividir {
    padding: 1.5rem 8rem 1rem 8rem;
    display: grid;
    gap: 8rem;
    align-items: top;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 1024px) {
    .dividir {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.descripciones {
    color: #fff;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    grid-column: span 1 / span 1; 
}

.formulario {
    background-color: rgba(0,0,0,0.4);
    padding: 2rem 0rem 1rem 5rem;
    border-radius: 0.75rem;
    grid-column: span 1 / span 1;
    margin-top: 1.7rem;
}
.tituloForm {

}
.tituloForm p {
    font-size: 2rem;
    color: #fff;
    font-weight: 900;
    font-family: "Chakra Petch";
    line-height: 1rem;
    margin: 0rem;
    padding: 1rem 0;
}

.divInput {
    position: relative;
    margin: 1rem 0 1rem 0;
}
.iconoInput {
    position: absolute;
    color: #f46368;
    padding: 0.85rem 0 0 0.6rem;
}
.input {
    background-color: transparent;
    border: 1px solid #777;
    width: 72.7%;
    outline: none;
    padding: 0.8rem 0.5rem 0.8rem 2rem;
    color: #fff;
    border-radius: 0.75rem;
}
.input::placeholder {
    color: #fff;
}

.divBoton {
    display: flex;
    justify-content: end;
    padding: 0.5rem 5.5rem;
}

.botonPresupuesto {
    border: none;
    background-color: rgba(23, 46, 129, 0.972);
    color:#fff ;
    font-weight: 100;
    font-size: 1.2rem;
    padding: 1.2rem 1rem;
    border-radius: 0.75rem;
    width: 50%;
    font-family: "Chakra Petch";
    line-height: 0;
}
.botonPresupuesto:hover{
    background-color: rgba(31, 58, 155, 0.972);
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;
}

