.contenedor {
    min-height: 100vh;
    background-color: #555;
    background-image: linear-gradient(
    to bottom,
    rgba(26, 54, 137, 0.73),
    rgba(5, 47, 162, 0.649)
  ),url("../../../assets/presentation2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0rem 1.5rem 0rem 1.5rem;
}

.titulos {
    padding: 5rem 0rem 3rem 0rem;
    color: #fff;
    display: inline-block;
}
.titulos h1 {
    font-size: 3.7rem;
    line-height: 2rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-family: "Poppins", "sans-serif";
}
.titulos h3 {
    font-size: 1.04rem;
    margin: 0;
    padding: 0 0 0 1.7rem;
    font-family: "Poppins", "sans-serif";
    color: var(--h3-presentation);
}

.dividir {
    padding: 2rem 0rem 2rem 0rem;
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.descripciones p{
    color: #fff;
    font-size: 1rem;
    font-family: "Open Sans", "sans-serif";
    padding-top: 0.2rem;
    font-weight: 400;
}

.formulario {
    background-color: rgba(0,0,0,0.4);
    padding: 0.5rem 2rem 1rem 2rem;
    border-radius: 0.75rem;
    grid-column: span 3 / span 1;
    margin-top: 1.7rem;
}
.tituloForm {
    border: none;
}
.legenda {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 900;
    font-family: "Open Sans", "sans-serif";
    margin: 0rem;
    padding: 0rem;
    text-align: center;
}

.contenedorForm {
    border: none;
}
.divInput {
    position: relative;
    margin: 0rem 0.2rem 0rem 0.1rem;
    padding-left: 0;
    padding-right: 0;
    border: none;
}
.iconoInput {
    position: absolute;
    color: var(--icon-form-presentation);
    top: 0.95rem;
    left: 0.7rem;
}
.input {
    background-color: transparent;
    border: 1px solid #777;
    width: 100%;
    outline: none;
    padding: 0.6rem 1rem 0.6rem 1.9rem;
    color: #fff;
    border-radius: 0.75rem;
    box-sizing: border-box;
}
.input::placeholder {
    color: #fff;
    font-size: 0.8rem;
}

.divBoton {
    padding: 0.5rem 0rem;
    border: none;
}

.botonPresupuesto {
    border: none;
    background-color: var(--boton-presupuesto);
    color:#fff ;
    font-weight: 400;
    font-size: 1.05rem;
    padding: 1.1rem 1rem;
    border-radius: 0.75rem;
    font-family: "Open Sans", "sans-serif";
    line-height: 0;
    width: 100%;
    cursor: pointer;
}

.pTipos{
    margin-top: 3.5rem;
}
.contenedorTipos {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}
.tiposDiv{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 1 / span 1;
    transition: all 500ms;
    opacity: 65%;
    text-decoration: none;
}
.tiposDiv:hover {
    transform: scale(1.2); 
    transition: all 500ms; 
    opacity: 100%;
    cursor: pointer;
}
.tiposDiv div{
    height: 3.3rem;
}

.tiposDiv p{
    padding: 0;
    font-family: "Open Sans", "sans-serif";
    font-size: 0.6rem;
    font-weight: 400;
    transition: all 300ms;
}
.tiposDiv:hover p{
    font-size: 0.85rem;
    transition: all 100ms;
}
.img1 {
    width: 3.5rem;
}
.img2 {
    transform: translatey(0rem);
    width: 3.5rem;
}
.img3 {
    width: 3.4rem;
}
.img4 {
    transform: translatey(0rem);
    width: 3.4rem;
}
.img5 {
    transform: translatey(0.1rem);
    width: 3.4rem;
}
.img6 {
    transform: translatey(0.2rem);
    width: 3.3rem;
}


@media (min-width: 768px){
    .contenedor{
        padding: 0rem 4rem 0rem 4rem;
    }
    .formulario {
        margin-top: 7rem;
    }
}
@media (min-width: 1024px) {
    .contenedor{
        padding: 0rem 4rem 0rem 4rem;
    }
    .legenda {
        font-size: 1rem;
    }
    .dividir {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 4rem;
        
    }
    .titulos {
        padding: 8rem 0rem 4rem 0rem;
    }
    .titulos h1 {
        font-size: 5.2rem;
        line-height: 2rem;
        padding: 0;
        margin: 0;
        opacity: 85%;
    }
    .titulos h3 {
        font-size: 1.54rem;
        margin: 0;
        padding: 0 0 0 1.7rem;
        opacity: 85%;
    }
    .descripciones {
        grid-column: span 7 / span 1; 
        font-size: 1.2rem;
    }
    .descripciones p{
        font-size: 1.1rem;
    }
    .formulario {
        padding: 0.7rem 2rem 0.5rem 2rem;
        grid-column: span 5 / span 1;
        margin-top: 1.7rem;
    }
    .contenedorTipos {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    
    .tiposDiv p{
        font-size: 0.8rem;
    }
}
@media (min-width: 1280px) {
    .contenedor{
        padding: 0rem 8rem 0rem 8rem;
    }
    .legenda {
        font-size: 1.4rem;
    }
    .dividir {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 4rem;
    }
    .formulario {
        padding: 0.7rem 2rem 0.5rem 2rem;
        grid-column: span 5 / span 1;
        margin-top: 1.7rem;
    }
    .titulos {
        padding: 10rem 0rem 4rem 0rem;
    }
    .descripciones {
        grid-column: span 7 / span 1; 
    }
}

