.footer {
    background-color: var(--footer-bg);
    height: 20vh;
    display: flex;
    justify-content:space-between;
    padding: 4rem 2rem;
}
.logoFooter{
    text-align: center;
}
.logoFooter p {
    color: #bbb;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-family: "Open Sans", "sans-serif";
}
.logoFooter span {
    color: var(--logo-span);
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}
.imgFooter{
    width: 4rem;
    margin-top: 3rem;
    text-align: center;
    opacity: 55%;
}
.linksDivFooter {
    display: block;
    gap: 1.3rem;
}

.linksFooter {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    color: #aaa;
    font-size: 0.9rem;
    line-height: 2rem;
    font-family: "Chakra Petch";
    display: block;
    text-align: center;
    padding-top: 0.2rem;
    transition: all 300ms ease-in-out;
    font-family: "Open Sans", "sans-serif";
}

.linksFooter:hover {
    color: var(--logo-span);
    transition: all;
    transition-duration: 200ms;
    transform: translateY(0.2rem);
    transition: all 300ms ease-in-out;
}

.linkPresupuestoFooter{
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    color: #aaa;
    font-size: 0.9rem;
    line-height: 2rem;
    font-family: "Chakra Petch";
    background-color: transparent;
    padding: 0rem 1.3rem;
    border-radius: 0.75rem;
    display: block;
    text-align: center;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
    font-family: "Open Sans", "sans-serif";
    border: 1px solid var(--boton-presupuesto);
    margin-top: 0.3rem;
}

.linkPresupuestoFooter:hover {
    border: 1px solid transparent;
    background-color: var(--boton-presupuesto);
    transition: all;
    transition-duration: 300ms;
    cursor: pointer;
}

@media (min-width: 768px){
    .footer{
        padding: 4rem 4rem;
    }
}
@media (min-width: 1024px) {
    .footer{
        padding: 4rem 8rem;
        height: 6vh;
    }
    .imgFooter{
        display: none;
    }
    .linksDivFooter{
        display: flex;
    }
}