.header {
    background-color: transparent;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transition: all;
    transition-duration: 700ms;
    z-index: 40;
    width: 83%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.sidebarLeft0{
    left: 0;
}
.sidebarLeftFull{
    left: -100%;
}
.navegacion {
    display: block;
}
.logo {
    padding: 0.2rem 1rem 0.2rem 0rem;
    font-family: "Chakra Petch";
}

.linkLogo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff;
    font-size: 1.5rem;
}

.linkLogo span {
    color: var(--logo-span);
    font-size: 1.6rem;
}

.opciones {
    display: block;
    list-style: none;
    padding: 2rem 1rem 0.2rem 1rem;
}

.links {
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: #eee;
    line-height: 2rem;
    display: flex;
    align-items: center;
    transition: all 300ms ease-in-out;
    margin-top: 3rem;
    font-family: "Poppins", "sans-serif";
}

.links:hover {
    color: var(--header-links-hover);
    transform: translateY(0.1rem);
    transition: all 200ms ease-in-out;
}
.linkPresupuesto {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    font-size: 0.9rem;
    line-height: 2rem;
    background-color: var(--boton-presupuesto);
    padding: 0rem 1.3rem;
    border-radius: 0.75rem;
    display: block;
    text-align: center;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
    margin-top: 3rem;
    font-family: "Poppins", "sans-serif";
    border: none;
    cursor: pointer;
}

.header.scroll {
    background-color: var(--header);
    transition: all;
    transition-duration: 700ms;
}


@media (min-width: 768px){
    .header{
        padding: 0 4rem;
    }
    .linkPresupuesto{
        margin-top: 4rem;
    }
    .links{
        margin-top: 4rem;
    }
}
@media (min-width: 1024px) {
    .header{
        background-color: transparent;
        height: auto;
        width: 100%;
        padding: 0 4rem;
    }
    .sidebarLeftFull{
        left: 0;
    }
    .navegacion{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .opciones{
        display: flex;
        gap: 1.4rem;
        padding: 0rem 0rem 0rem 1rem;
    }
    .links{
        margin-top: 0;
    }
    .linkPresupuesto{
        margin-top: 0;
    }
}
@media (min-width: 1280px) {
    .header{
        padding: 0 8rem;
    }

}